body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.home-wrapper, .dashboard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-box, .dashboard-box {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
}

.toggle-buttons {
  display: flex;
  margin-bottom: 15px;
}

.toggle-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.toggle-buttons .active {
  background: #38bdf8;
}

.form-box input, .form-box select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.form-box button {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  cursor: pointer;
}

.expense-list {
  margin-top: 15px;
}

.card {
  background: #334155;
  padding: 10px;
  margin-bottom: 10px;
}